.graficos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    visibility: hidden;
}

#graficoPizzaEarns{
    border: 0.01px solid black;
    box-shadow: 5px 5px 5px grey;
    width: 40%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
#graficoPizzaSpends{
    border: 0.01px solid black;
    box-shadow: 5px 5px 5px grey;
    width: 40%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

@media (max-width:780px){
    .graficos{
        flex-direction: column;
        width: 100%;
    }
    #graficoPizzaEarns{
        width: 100%;
        margin-bottom: 10px;
        border: 0px;
        box-shadow: 0px 0px 0px;
    }

    #graficoPizzaSpends{
        margin-bottom: 10px;
        width: 100%;
        border: 0px;
        box-shadow: 0px 0px 0px;
    }
    
    
    }
   
