
#earns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 42px;
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow:  -6px -6px 37px #999999,
                 6px 6px 37px #ffffff;
    margin: 20px 20px;
    align-items: center;
    padding: 20px 20px;
    
}


#spends{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 42px;
background: linear-gradient(315deg, #ffffff, #e6e6e6);
box-shadow:  -6px -6px 37px #999999,
             6px 6px 37px #ffffff;
    margin: 20px 20px;
    align-items: center;
    padding: 20px 20px;
    
}

.item{
    width: 30%;
    background-color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    border: 0.01px solid black;
    box-shadow: 2px 2px 2px grey;
    border-radius: 10px;
    margin: 5px 10px;
}

.item__list{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 5px 5px;
}

.list__name{
    color: white;
    font-size: 16px;
    margin: 3px 0;
}

.list__value{
    color: white;
    font-size: 14px;
    margin: 3px 0;
}

.box__result{
    width: 100%;
}

