
#earns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(52, 73, 85);
    border-radius: 20px;
    margin: 20px 20px;
    align-items: center;
    padding: 20px 20px;
    
}


#spends{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(52, 73, 85);
    border-radius: 20px;
    margin: 20px 20px;
    align-items: center;
    padding: 20px 20px;
    
}

.item{
    width: 20%;
    background-color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 10px;
}

.item__list{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 5px 5px;
}

.list__name{
    color: white;
    font-size: 16px;
    margin: 3px 0;
}

.list__value{
    color: white;
    font-size: 14px;
    margin: 3px 0;
}

.box__result{
    width: 100%;
}

